page-notification {
    img {
        object-fit: cover !important;
    }
    ion-navbar{
        ion-item{   
            background-color: transparent !important;
            color: white !important;
            text-align: center !important;
            .item-inner{
                border-bottom: none !important;
            }
        }
      }
}
