<!--
  Generated template for the CreateProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="header-cs">
    <ion-title>{{e && e._id ? 'Edit Product' : 'Create Product'}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="canceldissmis()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="showForm">
    <ion-upload-images [maximumImagesCount]="3" [images]="pImages" [isShowUpload]="true" (resImage)="resImageEvent($event)"></ion-upload-images>
    <ion-grid id="gridDetail">
      <ion-row>
        <ion-col id="colProduct">
          <ion-row>
            <ion-item>
              <ion-label floating>Name*</ion-label>
              <ion-input type="text" [(ngModel)]="e.name"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>Detail*</ion-label>
              <ion-input type="text" [(ngModel)]="e.detail"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>Categories*</ion-label>
              <ion-select [(ngModel)]="e.categories" multiple="true" id="maxWidth">
                <ion-option *ngFor="let items of categories" [value]="items._id">{{items.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label floating>Price*</ion-label>
                <ion-input type="number" [(ngModel)]="e.price" (ngModelChange)="discountprice();chkNumber(e.price,'price');toFixedNum(e.price,'price');"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label floating>Promotion Price</ion-label>
                <ion-input type="number" [(ngModel)]="e.promotionprice" (ngModelChange)="discountpromotion();chkNumber(e.promotionprice,'promotionprice');toFixedNum(e.promotionprice,'promotionprice');"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label floating>Percent of discount</ion-label>
                <ion-input type="number" [(ngModel)]="e.percentofdiscount" (ngModelChange)="discountpercent();chkNumber(e.percentofdiscount,'percentofdiscount');toFixedNum(e.percentofdiscount,'percentofdiscount');"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label floating>Currency*</ion-label>
                <ion-select [(ngModel)]="e.currency" id="maxWidth">
                  <ion-option *ngFor="let items of currency" [value]="items.name">{{items.name}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col text-left>
          <ion-item-divider color="light" no-lines>
            วิธีการจัดส่ง*
          </ion-item-divider>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-item>
              <ion-icon item-start name="ios-archive-outline"></ion-icon>
              <ion-label></ion-label>
              <ion-select [(ngModel)]="e.shop" [disabled]="true" id="maxWidth">
                <ion-option *ngFor="let items of shops" [value]="items._id">{{items.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-icon item-start name="ios-cash-outline"></ion-icon>
              <ion-label></ion-label>
              <ion-select [(ngModel)]="shippingtype" multiple="true" id="maxWidth">
                <ion-option *ngFor="let items of ship" [value]="items">{{items.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="shippingtype && shippingtype.length > 0">
      <ion-row>
        <ion-col text-left>
          <ion-item-divider color="light" no-lines>
            ราคาการจัดส่ง*
          </ion-item-divider>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let items of shippingtype">
        <ion-col col-6>
          <ion-item>
            {{items.name}}
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-input type="number" [(ngModel)]="items.shippingprice"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col text-left>
          <ion-item-divider color="light" no-lines>
            จัดจำหน่ายโดย
          </ion-item-divider>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-item>
              <ion-icon item-start name="ios-archive-outline"></ion-icon>
              <ion-label></ion-label>
              <ion-select [(ngModel)]="e.shop" [disabled]="true" id="maxWidth">
                <ion-option *ngFor="let items of shops" [value]="items._id">{{items.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button block id="button-md" (click)="onClickAddProd(e)">Submit</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block color="danger" (click)="canceldissmis()">Cancel</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>