page-listshop {
    img {
        object-fit: cover !important;
    }
    .fab-md {
        color: #fff;
        background-color: #2A5D67 !important;
    }
    .fab-ios {
        color: #fff;
        background-color: #2A5D67 !important;
    }
}